




.user-account-btn{
  background-position: left center;
  background-image: url(../img/arrow.png);
  padding-left: 26px;
  background-repeat: no-repeat;
}

.arrow2{
  background-position: left center;
  background-image: url(../img/arrow2.png);
  padding-left: 18px;
  background-repeat: no-repeat;
}
