@font-face {
  font-family: Muller;
  font-weight: 300;
  src: url(../fonts/MullerLight.woff);
}

@font-face {
  font-family: Muller;
  font-weight: 500;
  src: url(../fonts/MullerMedium.woff);
}

@font-face {
  font-family: Muller;
  font-weight: 400;
  src: url(../fonts/MullerRegular.woff);
}

@font-face {
  font-family: Muller;
  font-weight: 700;
  src: url(../fonts/MullerBold.woff);
}

html{
  font-family: Muller;
  font-weight: 400;
  font-size: 16px;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  margin: 0;
  background-color: #E5E5E5;
}

a{
  text-decoration: none;
  color: #CC9933;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.btn{
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #CC9933;
  color: #CC9933;
  background-color: transparent;
  cursor: pointer;
}

/* =========================== HEADER =========================== */

.up-header{
  display: flex;
  padding: 30px 0;
  align-items: center;
}

.logo{
  margin-right: 35px
}

.tel{
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.tel__number{
  color: #666666;
}

.user-account{
  margin-left: auto;
}

.user-account-btn{
  background-position: left top;
  background-image: url(../img/arrow.png);
  padding-left: 26px;
  background-repeat: no-repeat;
  color: #CC9933;
}

.menu{
  outline: solid 1px transparent;
  background-color: white;
  border-radius: 15px;
}

.menu-list{
  display: flex;
  height: 70px;
  padding: 27px 45px;
  justify-content: space-between;
  align-items: center;
}

.menu-list-left{
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
}

.menu-list-left a{
color: #666666;
}

.menu-list-item-left{
  color: #666666;
}

.menu-list-item-left:not(:last-child){
  margin-right: 45px;
}

.menu-list-right{
  display: flex;
}

.btn:not(:last-child){
  margin-right: 40px;
}

/* ============================== SPETIAL ============================= */

.spetial-text{
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}

.spetial-cards{
  display: flex;
}

.spetial-cards-left{
  margin-right: 24px;
}

.left-spetial{
  margin-bottom: 24px;
}


.left-spetial-mald-text{
  max-width: 510px;
  margin: 0;
  padding: 40px 45px 15px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.left-spetial-sale{
  margin: 0 0 47px;
  padding-left: 45px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

.spetial-more{
  display: inline-block;
  padding-left: 47px;
}

.more-btn{
  color: #CC9933;
}

.arrow2{
  display: inline-block;
  /* background-position: center center; */
  background-image: url(../img/arrow2.png);
  padding-left: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  transform: translateY(4px);
}

.left-spetial-mald{
  display: inline-block;
  min-width: 573px;
  min-height: 258px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/maldivy.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
}

.left-spetial-krit{
  display: inline-block;
  min-width: 573px;
  min-height: 258px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/krit.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
}

.left-spetial-krit-text{
  max-width: 500px;
  margin: 0;
  padding: 40px 0 15px 45px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.right-spetial{
  display: inline-block;
  width: 573px;
  height: 540px;
  background-image: url(../img/luxcategory.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
}

.right-spetial-lux{
  max-width: 500px;
  min-height: 550px;
}

.right-spetial-lux-text{
  max-width: 500px;
  margin: 0 0 15px;
  padding: 212px 229px 0 45px;
  font-size: 60px;
  line-height: 40px;
  line-height: 60px;
  color: #fff;
}

.right-spetial-sale{
  margin: 0 0 47px;
  padding-left: 45px;
  font-size: 30px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

/* =============================== ABOUT US ============================== */

.aboutus-text{
  max-width: 888px;
  line-height: 200%;
  color: #000;

}


/* =============================== SERVICE ============================= */


.services-list{
  display: flex;
  flex-wrap: wrap;
}

.services-list a{
  font-weight: 500;
}

.services-item{
  display: flex;
  flex: 1 1 45%;
  border-radius: 15px 15px 0px 0px;
  background: url(../img/service1.jpg) top center no-repeat;
  background-size: contain;
  align-items: stretch;
}

.services-item:not(:nth-child(2n)){
  margin-right: 24px;
  margin-bottom: 24px;
}

.services-item:nth-child(2){
  background-image: url(../img/service2.jpg);
  margin-bottom: 24px;

}

.services-item:nth-child(3){
  background-image: url(../img/service3.jpg);
}

.services-item:nth-child(4){
  background-image: url(../img/service4.jpg);
  margin-bottom: 24px;
}

.services-card{
  margin-top: 165px;
  padding-top: 26px;
  padding-left: 45px;
  /* max-height: 165px; */
  min-width: 573px;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.arrow3{
  display: inline-block;
  /* background-position: center center; */
  background-image: url(../img/arrow2.png);
  padding-left: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  transform: translateY(2px);
}

.services-item p{
  padding-bottom: 25px;
  max-width: 402px;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* ================================= ADVANTAGES ============================== */

.text-advantages{
  margin-top: 66px;
}

.advantages-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-list-item{
  flex-basis: 276px;
  min-height: 276px;
  margin-bottom: 20px;
  padding: 0 42px 32px 45px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  border-radius: 15px;
}

.img-adv{
  display: block;
  width: 64px;
  height: 66px;
  margin-bottom: 12px;
  margin-top: 40px;
}

.badroom{
  background: url(../img/bathtub.png) center center no-repeat;
  background-size: contain;
}

.hanger{
  background: url(../img/hanger.png) center center no-repeat;
  background-size: contain;
}

.heathing{
  background: url(../img/heating.png) center center no-repeat;
  background-size: contain;
}

.key{
  background: url(../img/hotel-key.png) center center no-repeat;
  background-size: contain;
}

.parking{
  background: url(../img/parking.png) center center no-repeat;
  background-size: contain;
}

.reception{
  background: url(../img/reception.png) center center no-repeat;
  background-size: contain;
}

.security-box{
  background: url(../img/security-box.png) center center no-repeat;
  background-size: contain;
}

.pool{
  background: url(../img/swimming-pool.png) center center no-repeat;
  background-size: contain;
}


/* =================================== LOCATION =========================== */

.location-list{
  display: flex;
  flex-wrap: wrap;
}

.location-item{
  /* flex: 1 0 33.33%; */
  margin-top: 20px;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 15px;

}

.img-hotel{
  border-radius: 15px 15px 0 0;
  margin-bottom: 32px;
}

.card:not(:nth-child(3n)){
  margin: 20px 24px 24px 0;
}

.ot{
  margin-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}
.sale{
  margin-left: 4px;

  font-size: 20px;
}
.za{
  margin-left: 4px;
  font-size: 16px;
  font-weight: 400;
}
.rating{
  margin-left: 52px;
}
.name-hotel{
  margin: 16px 0 16px 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.city-location-hotel{
  margin: 0 0 20px 45px;
  font-weight: 400;
  font-size: 16px;
  color:#999999;
}
.apartaments{
  display: inline-block;
  margin: 0 0 45px 45px;
}
.location-item-seeall{
  display: inline-block;
  height: 448px;
  width: 374px;
  background: url(../img/hotel9.jpg) center center no-repeat;
  background-size: contain;
  border-radius: 15px;
  margin-top: 24px;
}
.see-all{
  display: inline-block;
  padding: 373px 0 27px 54px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.arrowwight{
  display: inline-block;
  background-position: center center;
  background-image: url(../img/arrowight.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 17px;
  transform: translateY(2px);
}
/* =================FORM====================== */

.section-forma{
  padding: 30px;
}

.container-forma{
  max-width: 1170px;
  background-color: #E9E9E9;
  border-radius: 15px;
  padding: 40px ;
}

.forma{
  background-color: #fff;
  border-radius: 15px;
}

.spetial-text-forma{
  margin: 0 0 25px 0;
  color: #000;
}


.fieldset{
  display: flex;
  padding: 32px 28px;
  border-color: transparent;
}

.btn-form{
  padding: 13px 30px 13px 30px;
  font-size: 16px;
}

.forma label{
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

/* .lable-select{
  flex-basis: 200px;
  margin-right: 20px;
} */

.select-city,
.select-country{
  width: 169px;
  border: transparent;
}

.lable-select{
  display: inline-block;
  width: 170px;
  margin-right: 41px;

}
.select-city, .select-country:hover{
  cursor: pointer;
}

.lable-select-input{
  width: 122px;
  margin-right: 41px;
}

.lable-select-input input{
  width: 121px;
  border: transparent;
}

#nights-select,
#turist-select{
  border-bottom: 1px solid #E9E9E9;
}

#date-select,
#nights-select,
#turist-select:hover{
  cursor: pointer;
}

option{
  font-family: Muller;
  font-weight: 400;
}

/* ==============CONTACTS=============== */

.container-contacts{
  display: flex;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
}

.container-text{
  max-width: 375px;
}

.adres{
  margin-bottom: 25px;
  display: flex;
  width: 375px;
  min-height: 65px;
  border-bottom: 1px solid #E9E9E9;
}
.phone{
  display: flex;
  margin-bottom: 25px;
  width: 375px;
  min-height: 65px;
  border-bottom: 1px solid #E9E9E9;
}
.strong{
  min-width: 98px;
  margin-right: 47px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.numbers{
  display: flex;
  flex-direction: column;
}

.numbers__a{
  margin-bottom: 10px;
}

.adres1{
  line-height: 1.5rem;
}

.email{
  height: 121px;
  display: flex;
  margin-bottom: 25px;
  border-bottom: 1px solid #E9E9E9;
}

.email1{
  display: flex;
  flex-direction: column;
}

.graph{
  display: flex;
  height: 71px;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 45px;
}

.btn-marshryt{
  display: inline-block;
  padding: 27px 30px;
}

.gray-text{
  color:#999999;
  margin: 10px 0 10px;
}

.img-office{
  background: url(../img/office.jpg) no-repeat center center;
  background-size: contain;
  width: 653px;
  height: 528px;
  margin-left: 59px;
}

.graph1{
  line-height: 1.5rem;
}

/*================== FOOTER==================== */

.footer-container{
  display: flex;
  padding: 45px;
  margin-bottom: 25px;
  background-color: #333333;
  background-image: url(../img/logoSUN.png);
  background-repeat: no-repeat;
  background-position: 738px 100%;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  line-height: 1.9rem;
}

.footer-content{
  max-width: 400px;
}

.footer__text{
  margin-right: 30px;
}

.footer__adres{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.copyright{
  margin-bottom: 37px;
}

.spravka{
  margin-bottom: 40px;
  width: 302px;
  font-weight: 300;
}

.tel-footer{
  margin-bottom: 15px;
}

.fact-adres{
  margin-bottom: 15px;
}

.sova{
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 45px;
  background: url(../img/sova.svg) center center no-repeat transparent;
  background-size: contain;
}

.ok{
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 45px;
  background: url(../img/ok.svg) center center no-repeat transparent;
  background-size: contain;
}

.vk{
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/vk.svg) center center no-repeat transparent;
  background-size: contain;
}

