@font-face {
  font-family: Muller;
  font-weight: 300;
  src: url(../fonts/MullerLight.woff);
}

@font-face {
  font-family: Muller;
  font-weight: 500;
  src: url(../fonts/MullerMedium.woff);
}

@font-face {
  font-family: Muller;
  font-weight: 400;
  src: url(../fonts/MullerRegular.woff);
}

@font-face {
  font-family: Muller;
  font-weight: 700;
  src: url(../fonts/MullerBold.woff);
}

html{
  font-family: Muller;
  font-weight: 500;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  margin: 0;
  background-color: #E5E5E5;
}

a{
  text-decoration: none;
  color: #CC9933;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.btn{
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #CC9933;
  color: #CC9933;
}

/* =========================== HEADER =========================== */

.up-header{
  display: flex;
  padding: 30px 0;
  align-items: center;
}

.logo{
  margin-right: 35px
}

.tel{
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.tel__number{
  color: #666666;
}

.user-account{
  margin-left: auto;
}

.user-account-btn{
  background-position: left top;
  background-image: url(../img/arrow.png);
  padding-left: 26px;
  background-repeat: no-repeat;
  color: #CC9933;
}

.menu{
  outline: solid 1px transparent;
  background-color: white;
  border-radius: 15px;
}

.menu-list{
  display: flex;
  height: 70px;
  padding: 27px 45px;
  justify-content: space-between;
  align-items: center;
}

.menu-list-left{
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
}

.menu-list-left a{
color: #666666;
}

.menu-list-item-left{
  color: #666666;
}

.menu-list-item-left:not(:last-child){
  margin-right: 45px;
}

.menu-list-right{
  display: flex;
}

.btn:not(:last-child){
  margin-right: 40px;
}

/* ============================== SPETIAL ============================= */

.spetial-text{
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}

.spetial-cards{
  display: flex;
}

.spetial-cards-left{
  margin-right: 24px;
}

.left-spetial{
  margin-bottom: 24px;
}

.left-spetial-mald{
  min-width: 573px;
  min-height: 258px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/maldivy.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
}

.left-spetial-mald-text{
  max-width: 510px;
  margin: 0;
  padding: 40px 45px 15px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.left-spetial-sale{
  margin: 0 0 47px;
  padding-left: 45px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

.spetial-more{
  display: inline-block;
  padding-left: 47px;
}

.more-btn{
  color: #CC9933;
}

.arrow2{
  display: inline-block;
  /* background-position: center center; */
  background-image: url(../img/arrow2.png);
  padding-left: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  transform: translateY(4px);
}

.left-spetial-krit{
  min-width: 573px;
  min-height: 258px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/krit.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
}

.left-spetial-krit-text{
  max-width: 500px;
  margin: 0;
  padding: 40px 0 15px 45px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.right-spetial{
  display: inline-block;
  width: 573px;
  height: 540px;
  background-image: url(../img/luxcategory.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
}

.right-spetial-lux{
  max-width: 500px;
  min-height: 550px;
}

.right-spetial-lux-text{
  max-width: 500px;
  margin: 0 0 15px;
  padding: 212px 229px 0 45px;
  font-size: 60px;
  line-height: 40px;
  line-height: 60px;
  color: #fff;
}

.right-spetial-sale{
  margin: 0 0 47px;
  padding-left: 45px;
  font-size: 30px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

/* =============================== ABOUT US ============================== */

.aboutus-text{
  max-width: 888px;
  line-height: 200%;
  color: #000;

}


/* =============================== SERVICE ============================= */


.services-list{
  display: flex;
  flex-wrap: wrap;

}

.services-item{
  display: flex;
  flex: 1 1 45%;
  border-radius: 15px 15px 0px 0px;
  background: url(../img/service1.jpg) top center no-repeat;
  background-size: contain;
  align-items: stretch;
}

.services-item:not(:nth-child(2n)){
  margin-right: 24px;
  margin-bottom: 24px;
}

.services-item:nth-child(2){
  background-image: url(../img/service2.jpg);
  margin-bottom: 24px;

}

.services-item:nth-child(3){
  background-image: url(../img/service3.jpg);
}

.services-item:nth-child(4){
  background-image: url(../img/service4.jpg);
  margin-bottom: 24px;
}

.services-card{
  margin-top: 165px;
  padding-top: 26px;
  padding-left: 45px;
  /* max-height: 165px; */
  min-width: 573px;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.arrow3{
  display: inline-block;
  /* background-position: center center; */
  background-image: url(../img/arrow2.png);
  padding-left: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  transform: translateY(2px);
}

.services-item p{
  padding-bottom: 25px;
  max-width: 402px;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* ================================= ADVANTAGES ============================== */

.text-advantages{
  margin-top: 66px;
}

.advantages-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-list-item{
  flex-basis: 250px;
  margin-bottom: 20px;
}

/* =================================== LOCATION =========================== */

.location-list{
  display: flex;
  flex-wrap: wrap;
}

.location-item{
  flex: 1 0 33.33%;

}

.card:not(:nth-child(3n)){

}
